*{
    margin: 0; padding:0; box-sizing: border-box;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 .carousel-caption {
    position: absolute; 
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}